<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Menu}"

>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/side-bar.css"/>

    <title>Quản Lý CV</title>
</head>
<body>
<main layout:fragment="main1">
    <form action="tuyen-dung/add" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <h1>Quản Lý Đợt Tuyển Dụng</h1>
            <div>
                <label >Mã đợt tuyển dụng</label>
                <input class="form-control"  type="text"  name="maDot"  th:value="${qlTuyenDung.maDot}"
                       required maxlength="10" pattern="[A-Za-z0-9]{1,10}"
                       title="Mã đợt tuyển dụng chỉ bao gồm chữ cái và số, tối đa 10 ký tự."
                >
            </div>
        <div>
            <label>Tên đợt tuyển dụng</label>
            <input class="form-control"  type="text"  name="tenDot" th:value="${qlTuyenDung.tenDot}"
                   required minlength="3" maxlength="100" title="Tên đợt tuyển dụng phải có từ 3 đến 100 ký tự."
            >
        </div>
        <div>
            <label> Nội dung</label>

            <textarea id="noiDung" class="form-control" name="noiDung" th:value="${qlTuyenDung.noiDung}"
                      required minlength="10" maxlength="500"
                      title="Nội dung phải có ít nhất 10 ký tự và không vượt quá 500 ký tự."></textarea>
        </div>
        <div>
            <label> Deadline tuyển dụng</label>
            <input class="form-control"  type="date"  name="deadline" th:value="${qlTuyenDung.deadline}"
                   required
                   th:min="${minDate}"
                   th:max="${maxDate}"
                   title="Vui lòng chọn ngày hợp lệ trong tương lai và không quá 6 tháng."
            >
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 10px">Thêm</button>

        <div th:if="${message}" class="alert alert-success" style="margin-top: 10px">
            <span th:text="${message}"></span>
        </div>


    </form>



        <div style="margin-top: 15px">
            <form  th:action="@{/tuyen-dung/search}" method="get">
                <label >Tìm kiếm đợt tuyển dụng : </label>
                <input type="text" class="form-control" style="right: 2500px"  name="keyword" th:value="${keyword}">
                <button type="submit" class="btn btn-primary mb-3" >Tìm Kiếm</button>
            </form>
        </div>


<!--    <div class="row">-->
<!--        <div class="row" style="margin-top: 5px; margin-bottom: 5px">-->
<!--            <div class="col-sm-3">-->
<!--                <button type="button" class="btn btn-success" id="show-modal1">-->
<!--                    Thêm-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->


<h1 style="margin-top: 10px">Danh sách đợt tuyển dụng</h1>
        <table class="table">
            <thead>
            <tr>
                <td>STT</td>
                <td>Mã đợt tuyển dụng</td>
                <td>Tên đợt tuyển dụng</td>
                <td>Nội dung</td>
                <td>Thời gian</td>
<!--                <td>Tạo bởi</td>-->
                <td>Hành động</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a, indexTuyenDung : ${tuyenDungPage.content}">
                <td th:text="${indexTuyenDung.index + 1}"></td>
                <td th:text="${a.maDot}"></td>
                <td th:text="${a.tenDot}"></td>
                <td th:text="${a.noiDung}"></td>
                <td th:text="${a.deadline}"></td>
<!--                <td th:text="${a.nguoiDung.hoTen}"></td>-->
                <td>

                    <a class="btn btn-danger lni lni-trash-can"
                       th:href="@{'/tuyen-dung/delete/' + ${a.dot_tuyen_dung_id}}">

                    </a>



<!--                    <a class="btn btn-warning lni lni-pencil"-->
<!--                       th:href="@{'/tuyen-dung/edit/' + ${a.dot_tuyen_dung_id}}">-->
<!--                    </a>-->

                    <a class="btn btn-primary lni lni-eye"
                       th:href="@{'/tuyen-dung/detail/' + ${a.dot_tuyen_dung_id}}">

                    </a>


<!--                    <button type="button" class="btn btn-warning lni lni-pencil"-->
<!--                            th:onclick="'edit(' + '\'' + ${a.dot_tuyen_dung_id} + '\'' + ')'"></button>-->
<!--                    <a th:href="@{|/tuyen-dung/delete/${a.dot_tuyen_dung_id}|}">-->
<!--                        <button type="button" class="btn btn-danger lni lni-trash-can"></button>-->
<!--                    </a>-->
                </td>
            </tr>
            </tbody>
        </table>


    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage>1}" class="page-item"><a class="page-link" th:href="@{'?pageNo='+${currentPage-1}}"><i class="lni lni-angle-double-left"></i></a></li>
                <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${currentPage==i?'active':''}">
                    <a class="page-link"
                       th:href="@{${keyword != null && keyword!='' ? '?keyword=' + keyword+'&':'?'}+ 'pageNo='+${i}}" th:text="${i}"></a>
                </li>
                <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'?pageNo='+${currentPage+1}}"><i class="lni lni-angle-double-right"></i></i></a></li>
            </ul>
        </nav>
    </div>

<!--        <div class="modal fade" id="tuyendung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="container-fluid">-->
<!--                            <form th:object="${qlTuyenDung}" method="post">-->
<!--                                <div class="row">-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="maDot" class="form-label">Mã Đợt Tuyển Dụng</label>-->
<!--                                        <input type="text" th:field="*{maDot}" class="form-control" id="maDot" name="maDot" placeholder="Nhập Mã Đợt Tuyển Dụng">-->
<!--                                        <div class="invalid-feedback" id="maDotError"></div>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="tenDot" class="form-label">Tên Đợt Tuyển Dụng</label>-->
<!--                                        <input type="text" th:field="*{tenDot}" class="form-control" id="tenDot" name="tenDot" placeholder="Nhập Tên Đợt Tuyển Dụng">-->
<!--                                        <div class="invalid-feedback" id="tenDotError"></div>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="noiDung" class="form-label">Nội Dung</label>-->
<!--                                        <input type="text" th:field="*{noiDung}" class="form-control" id="noiDung" name="noiDung" placeholder="Nhập Nội Dung">-->
<!--                                        <div class="invalid-feedback" id="noiDungError"></div>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="deadline" class="form-label">Thời Gian Tuyển Dụng</label>-->
<!--                                        <input type="date" th:field="*{deadline}" class="form-control" id="deadline" name="deadline" placeholder="Nhập số điện thoại">-->
<!--&lt;!&ndash;                                        <div class="invalid-feedback" id="sdtError"></div>&ndash;&gt;-->
<!--                                    </div>-->





<!--                                </div>-->

<!--                                <div class="row">-->
<!--                                    <button th:formaction="@{/tuyen-dung/add}" type="submit" id="btnSave1" class="btn btn-primary col-sm-2">Save</button>-->
<!--                                    <button th:formaction="@{/tuyen-dung/update/}" type="submit" class="btn btn-info col-sm-2" id="btnUpdate1">Update</button>-->
<!--                                    <button type="button" class="btn btn-secondary col-sm-2" data-bs-dismiss="modal">Close</button>-->
<!--                                </div>-->
<!--                            </form>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


</main>
<!--<script layout:fragment="js-frangment" src="/js/qlTuyenDung.js"></script>-->

</body>
</html>