<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Menu}"

>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="./side-bar.css"/>
    <title>Chi tiết đợt tuyển dụng</title>
</head>
<body>
<main layout:fragment="QLTuyenDung">

    <form th:action="@{'/tuyen-dung/update/' + ${tuyenDung.dot_tuyen_dung_id}}" th:object="${tuyenDung}" method="post">
    <!-- Button trigger modal -->

        <h1>Chi tiết đợt tuyển dụng</h1>
        <div>
            <label >Mã đợt tuyển dụng</label>
            <input class="form-control"  type="text"  name="maDot"   th:field="*{maDot}"
                   required minlength="3" maxlength="20"
                   title="Mã đợt tuyển dụng phải có từ 3 đến 20 ký tự."
            >
        </div>
        <div>
            <label>Tên đợt tuyển dụng</label>
            <input class="form-control"  type="text"  name="tenDot"  th:field="*{tenDot}"
                   required minlength="5" maxlength="100"
                   title="Tên đợt tuyển dụng phải có từ 5 đến 100 ký tự."
            >
        </div>
        <div>
            <label> Nội dung</label>
            <textarea id="noiDung" class="form-control" name="noiDung"
                      th:field="*{noiDung}"
                      required minlength="10" maxlength="500"
                      title="Nội dung phải có từ 10 đến 500 ký tự."
            ></textarea>
        </div>
        <div>
            <label> Deadline tuyển dụng</label>
            <input class="form-control"  type="date"  name="deadline" th:field="*{deadline}"
                   required
                   th:min="${minDate}"
                   th:max="${maxDate}"
                   title="Vui lòng chọn ngày hợp lệ trong tương lai và không quá 6 tháng."

            >
        </div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <button type="submit" class="btn btn-success">Cập nhật</button>



                    <a href="/tuyen-dung" class="btn btn-primary">Quay lại danh sách</a>
                </div>
            </div>
        </div>
    </div>









    </form>
</main>
</body>
</html>
